* {
  /* margin: 0; */
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  background-color: rgb(77, 71, 71);
  text-align: center;
  line-height: 8px;
}

header {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header-center {
  margin: 0 0 0 46px;
}



.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  font-size: 26px;
  margin: 0 8px;
}

.header-right-empty {
  flex: .08;
  text-align: center;
  font-size: 32px;
  margin: 0 8px 0 0;
  display: flex;
}

a {
  text-decoration: none;
}


.menu-btn {
  font-size: 19px;
  flex: .1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: space-between;
  /* height: 13vh;
  width: 7vw; */
  margin: 0 0 0 0;
  /* border: 3px solid #fff;
  transform: rotate(90deg) */
  
}

/* .menu-btn__burger {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
} */

/* .menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
} */

.menu-btn__burger::before {
  transform: translate(0, -16px)
} 
.menu-btn__burger::after {
  transform: translate(0, 16px)
} 

h3 {
  text-align: center;
}

header h2 {
font-size: 18px;
}

hr {
height: 12px;
width: 12px;
border-radius: 50%;
text-align: center;
margin-top: 8px;
margin-bottom: 12px;
}
/* past header, into main */

.pic {
  display: flex;
}
.pic img {
  width: 100%;
}

body {
background-color:slategrey
}
body > main > div > image > img{
  text-align: center;
}
body main div {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


footer {
  padding-top: 01px;
  text-align: left;
  padding-left: 2px;
  border-left: 2px;
  height: 160px;
  background-color: rgb(77, 71, 71);
  color: white;
  line-height: 24px;
  opacity: .6;
}

.contact {
  text-align: center;
}

ul {
  list-style-type: none;
}

footer {
  height: 275px;
  
}



a:link {color:white;}
a:visited {color: white;}
a:hover {color:darkgoldenrod;}
a:active {color:aqua;}

/* -------------------------------------------------------- */
/* projects.html */
.header-container-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  background-color: rgb(77, 71, 71);
  text-align: center;
  line-height: 8px;
}

.header-center-proj {
  text-align: center;
}

.project-block-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.project-individual {
  margin: 5px;
  padding: 20px;
  border: 3px solid black;
}

fieldset {
  padding: 8px 12px;
  margin: 18px 18px 0 0;
}

legend {
  color: #fff;
}

textarea {
  width: 164px;
  height: 80px;
  margin-top: 8px;
}








@media all and (max-width: 660px) {
  .project-block-container {
    flex-direction: column;
  }
  
  .header-center {
    margin: 0 0 0 23px;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height: 200px;
    width: 100%;
  }
  .left {

    align-self: flex-start;
    justify-content: flex-end;
  }
  .header-right-empty {
    align-self: flex-end;
  }
  
  .contact {
    font-size: 18px;
  }

  .form {
    font-size: 18px;
  }
}