* {
  /* margin: 0; */
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  background-color: rgb(77, 71, 71);
  text-align: center;
  line-height: 8px;
}

header {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 20px 0 0;
}
/* 
.header-center {
  margin: 0 0 0 46px;
} */



.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  font-size: 26px;
  margin: 0 8px;
}

.child:last-child{
  margin: 0 20px 0 0;
}

.header-right-empty {
  flex: .08;
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.header-right-empty a {
  font-size: 18px;
}


/* .menu-btn {
  font-size: 19px;
  flex: .1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: space-between;
  /* height: 13vh;
  width: 7vw; */
  /* margin: 0 0 0 0; */ 
  /* border: 3px solid #fff;
  transform: rotate(90deg) */
  


/* .menu-btn__burger {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
} */

/* .menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
} */

/* .menu-btn__burger::before {
  transform: translate(0, -16px)
} 
.menu-btn__burger::after {
  transform: translate(0, 16px)
}  */

h3 {
  text-align: center;
}

header h2 {
font-size: 18px;
}

hr {
height: 12px;
width: 12px;
border-radius: 50%;
text-align: center;
margin-top: 8px;
margin-bottom: 12px;
}
/* past header, into main */

.pic {
  display: flex;
}
.pic img {
  width: 100%;
}

body {
background-color:slategrey
}
body > main > div > image > img{
  text-align: center;
}
body main div {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.parent-main {
  display: flex;
  flex-direction: column-reverse;
}


footer {
  padding-top: 01px;
  text-align: left;
  padding: 0 2px 0 2px;
  height: 160px;
  background-color: rgb(77, 71, 71);
  color: white;
  line-height: 24px;
  opacity: .6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact {
  text-align: center;
  font-size: 22px;
}

ul {
  list-style-type: none;
}

footer {
  height: 275px;
  
}



a:link {color:white;}
a:visited {color: white;}
a:hover {color:darkgoldenrod;}
a:active {color:aqua;}

/* -------------------------------------------------------- */
/* projects.html */
.header-container-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  background-color: rgb(77, 71, 71);
  text-align: center;
  line-height: 8px;
}

.header-center-proj {
  text-align: center;
}

.project-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.project-individual {
  margin: 5px;
  padding: 20px;
  border: 3px solid black;
  color: white;
}


fieldset {
  padding: 8px 12px;
  margin: 18px 18px 0 0;
}

fieldset input {
  width: 100px;
}

legend {
  color: #fff;
}

textarea {
  width: 100px;
  height: 80px;
  margin-top: 8px;
}

.contact-link {
  font-size: 16px;
  margin: 0 10px 0 0;
}

h4 {
  font-size: 18px;
  text-align: center;
}






@media all and (min-width: 600px) {
  .project-block-container {
    flex-direction: row;
  }
  
  

  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height: 110px;
    width: 100%;

  }
  
  .parent-main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  } 

  article {
    flex: 3;
  }

  .pic {
    flex: 3;
    display: flex;
    justify-content: center;
  }

  .pic img {
    width: 100%;
    justify-self: center;
  }
  
  
  .contact-link {
    font-size: 24px;
  }

  .form {
    font-size: 28px;
    
  }

  .form input {
    width: 20%
  }

  fieldset {
    padding: 8px 12px;
    margin: 18px 18px 18px 0;
  }

  textarea {
    width: 164px;
    height: 100px;
  }

  fieldset input {
    width: 164px;
  }
 
  h4 {
    font-size: 28px;
  }
  
}